*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
min-height:100vh;
text-align:center;
}

h1{
padding:20px;
font-size:40px;
letter-spacing:3px;
}

/* topbar */
.topbar{
margin:20px;
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
}

.topbar input{
padding:10px;
border-radius:8px;
border:none;
}

.topbar button{
padding:10px 20px;
border:none;
border-radius:8px;
background:#00f2ff;
cursor:pointer;
font-weight:bold;
}

/* filter */
.buttons button{
padding:10px 20px;
margin:8px;
border:none;
border-radius:25px;
background:rgba(255,255,255,0.1);
color:white;
cursor:pointer;
}
.buttons button:hover{
background:#00f2ff;
color:black;
}

/* gallery */
.gallery img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:20px;
  cursor:pointer;
  transition:.4s;
  box-shadow:0 0 20px rgba(0,255,255,0.2);
}

.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  padding:40px;
}

.gallery img:hover{
transform:scale(1.07);
box-shadow:0 0 25px #00f2ff;
}

/* lightbox */
.lightbox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:none;
justify-content:center;
align-items:center;
flex-direction:column;
}

.lightbox img{
max-width:80%;
max-height:70%;
border-radius:15px;
}

.close{
position:absolute;
top:20px;
right:40px;
font-size:40px;
cursor:pointer;
}

.controls button{
padding:12px 18px;
margin:10px;
border:none;
border-radius:50%;
cursor:pointer;
background:#00f2ff;
font-size:18px;
}


.drop-area{
width:300px;
margin:20px auto;
padding:30px;
border:2px dashed #00e5ff;
border-radius:15px;
text-align:center;
color:white;
font-weight:bold;
transition:.3s;
}

.drop-area.drag{
background:#00e5ff33;
border-color:#00ffff;
}
